# Example environment variables for bu-wp-docker builds and runtime
# Copy this file to .env and edit as needed

# ----------------------------------------
#          Build Args:
# ----------------------------------------

# You can set DOCKER_REGISTRY to your AWS ECR registry in order pull images from there to run locally
#DOCKER_REGISTRY=851725652822.dkr.ecr.us-east-1.amazonaws.com

# GitHub user and personal access token (PAT) for accessing private repos
GIT_USER=username
GIT_PAT=ghp_yourtokenhere

# Select a manifest ini file to define which repos to include in the build
MANIFEST_INI_FILE=wp-manifests/prod/cms.ini
# You can use a different manifest for development or experiments
#MANIFEST_INI_FILE=wp-manifests/devl/jaydub-experiment.ini

# The repos value is totally optional, you can make a smaller build that will only include the specified repos
#REPOS='responsive-framework-2-x, bu-cms, bu-sustainability, query-monitor, s3-uploads-bu, bu-media-s3, bu-access-control, weblogin-plugin, bu_user_management, wp-multi-network, bu-core, bu-custom-css, bu-includes, bu-js-lib, site-manager, bu-banners, CMB2, enable-media-replace, redis-cache, r-admissions'

# ----------------------------------------
#     Runtime Env vars and secrets:
# ----------------------------------------

# Specify a hostname for the local container - must match an entry in /etc/hosts for local dev
# When connected to the S3 bucket, this hostname will be the location of the media library in S3
WP_HOSTNAME=username.local

# For windows users
COMPOSE_CONVERT_WINDOWS_PATHS=true

# Database password (defaults to "password")
WORDPRESS_DB_PASSWORD=password

# Optionally enable XDEBUG, specifically designed for local dev and testing
XDEBUG=false

# Object lambda access point (OLAP) details for s3 proxying
OLAP=wordpress-protected-s3-assets-prod-olap
OLAP_ACCT_NBR=111111111111
OLAP_REGION=us-east-1

# Credentials for OLAP access
S3_UPLOADS_BUCKET=wordpress-protected-s3-assets-prod-assets/original_media
S3_UPLOADS_ACCESS_KEY_ID=AKIAxxxxxxxxxxxx
S3_UPLOADS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
S3_UPLOADS_REGION=us-east-1

# DynamoDB access table name
ACCESS_RULES_TABLE=wordpress-protected-s3-assets-prod-AccessControl

SHIB_DOMAIN=shib-test.bu.edu
# SP credentials needed by mod_shib for authentication with the IDP
SHIB_SP_CERT="-----BEGIN CERTIFICATE-----
securecertificatehere
-----END CERTIFICATE-----"
SHIB_SP_KEY="-----BEGIN PRIVATE KEY-----
securekeyhere
-----END PRIVATE KEY-----"
